[mysqld]
bind-address = 0.0.0.0

#By default MariaDB often listens only on localhost 127.0.0.1
#Setting bind-adress to 0.0.0.0 allows other containers(wordpress, nginx) to access it

[client]
port=3306
